<!-- templates/registration/password_reset_form.html -->
{% extends 'main/layout.html' %}


{% block stylesheets%}
    <style>

    @media(min-width: 770px){

        .width {
            width:50%;
        }

    }

    </style>

{% endblock stylesheets %}
{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
    <div style="padding-top:6em; padding-bottom:6em;" align='center' class=" width container shadow-lg">


  <h1 style='font-size:4em;' class="pb-3 text-center">Forgot your password?</h1>
  <p>Enter your email address below, and we'll email instructions for setting a new one.</p>

  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input class='btn submit-button my-4 py-3 px-4 ' type="submit" value="Send me instructions!">
  </form>
      </div>
{% endblock %}

{% block javascript %}

<script>
    var Email = $('#id_email')

    Email.attr('class','form-control')
    Email.attr('placeholder','Email')
    $('label').remove()
</script>

{% endblock javascript %}

