{% extends 'main/layout.html' %}

{% block stylesheets%}
    <style>

    @media(min-width: 770px){

        .width {
            width:50%;
        }

    }

    </style>

{% endblock stylesheets %}

{% block title %}Enter new password{% endblock %}

{% block content %}
    <div style="padding-top:6em; padding-bottom:6em;" align='center' class=" width container shadow-lg">
<h1 style='font-size:4em;' class="pb-3 text-center" >Set a new password!</h1>
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input  class='btn submit-button my-4 py-3 px-4 ' type="submit" value="Change my password">
</form>
    </div>
{% endblock %}

{% block javascript %}

<script>

    var password1 = $('#id_new_password1')
    var password2 = $('#id_new_password2')

    $('ul').remove()
    $('label').remove()

    password1.attr('class','form-control')
    password1.attr('placeholder','New Password')

    password2.attr('class','form-control')
    password2.attr('placeholder','Confirm Password')


</script>

{% endblock javascript %}