{%  extends 'main/layout.html' %}


{% block content %}

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css'  %}" >
<link rel="stylesheet" href="{% static 'css/styles.min.css'  %}" >



<!-- Framework -->
<div class="container-fluid">
  <div class="row mh-100vh">
    <div class="col-12 align-self-center d-lg-flex align-items-lg-center align-self-stretch bg-white p-5 rounded rounded-lg-0 my-5 my-lg-0" id="login-block">
      <div class="m-auto w-lg-75 w-xl-50">

          <!-- Header Information-->
        <h2 class="text-info font-weight-light mb-5" style="color: rgb(184,33,23); font-size:3em; opacity: 1;">Sign Up</h2>


          <!-- Form Stuff -->
        <form data-parsley-validate method="POST"  enctype="multipart/form-data" id="form">
            {% csrf_token %}
          <div class="form-group">
            <label class="text-secondary">Email</label>
            {{form.email}}
            </div>

          <div class="form-group">
            <label class="text-secondary">Password</label>
            {{form.password1}}
          </div>

            <div class="form-group">
            <label class="text-secondary">Confirm Password</label>
            {{form.password2}}
          </div>

             <button class="btn btn-info mt-2"  style="">Sign Up</button>
        </form>



                </div>
            </div>


    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/parsley.min.js' %}"></script>
    <script>
$(document).ready(function(){
      var Email = $("#id_email");

    // Email Validators

    Email.attr('data-parsley-remote','');
    Email.attr('data-parsley-remote-validator','email');

    //
    window.Parsley.addAsyncValidator('email',function (xhr) {
        console.log(this.$element);
        return 404 == xhr.status
    }, '/ajax/email')

}
)

    </script>
{% endblock javascript %}