
{% extends "main/layout.html" %}
{% load static %}

{% block content %}
<div class='container'>
  <div class='row justify-content-center'>
      <div class="col-md-6   col-sm-12">
          <div id='Title' class="row pb-3">
              <div class="col">
                  <h1 class="text-center">About</h1>
              </div>

          </div>
          <div id="Image" clas="row pb-3">
              <div class="col">
                  <img class="img-fluid" src='https://static1.squarespace.com/static/5689bf3fbfe8732981054f50/t/56ab03580ab37725a38678eb/1454048088837/claremontcolleges.jpg?format=2500w'/>
              </div>
          </div>
          <div id="Content" class="pt-3 row text-left">
              <div class="col">
                  <p style="white-space:pre-wrap;">The Claremont Journal of Medicine and Social Justice is a 5C organization formed to raise awareness around both global and local intersectional issues in medicine and public health in a socially conscious way. Articles will be published both digitally on our website and in a biannual print edition. All 5C students are welcome to be a team member. The current positions we are looking for interested students to fill: global content editor, global content writer, local content editor, local content writer, and finance team member. There will be full team meetings every other Wednesday from 9-10 at SOCA Lounge. If you are interested in joining the team or learning more about the journal please contact info.cjmsj@gmail.com.</p>

              </div>
          </div>




      </div>

  </div>


</div>
{% endblock content %}

<!---->