
{% extends "main/layout.html" %}


{% block content %}
<div class='fluid-container' style="margin-top:0px; margin-bottom:100px;" >
  <div class='row'>
      <div class='col-12 text-center align-items-end'>
    <h1 class='text-center  col py-md-5'> Contact</h1>
          <img class='img-responsive img-fluid col' style='border-radius:30px;' src="https://amp.businessinsider.com/images/5c755fc870a61e715f5f733b-1920-1080.jpg"/>
     <p class='text-center' style="margin-top:50px;"> You can contact the Claremont Journal of Medicine and Social Justice team at cjmsj.info@gmail.com.</p>
  </div>

  </div>
</div>
{% endblock content %}

